.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
build/
node_modules/
npm-debug.*
Thumbs.db
source/img/mishka-catalog-desktop.png
source/img/mishka-catalog-mobile.png
source/img/mishka-catalog-tablet.png
source/img/mishka-form-desktop.png
source/img/mishka-form-mobile.png
source/img/mishka-form-tablet.png
source/img/mishka-index-desktop.png
source/img/mishka-index-mobile.png
source/img/mishka-index-mobile-menu.png
source/img/mishka-index-tablet.png