.button {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.18;
  color: $color-grey-1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $color-grey-1;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover,
  &:focus {
    background-color: $color-grey-1;
    color: $color-white-1;
  }

  &:active {
    background-color: $color-grey-1;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--hl16 {
  line-height: 0.94;
}

@media (max-width: $mobile-width-only) {
  .button--fs18 {
    font-size: 18px;
    line-height: 1.11;
  }
}
