.card-product__link-image {
  color: $base-color;
  text-decoration: none;
}

.card-product__picture {
  display: block;
  width: 260px;
  height: 195px;
  background-color: #e6e6e6;
}

.card-product__description {
  border: 1px solid #ececec;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 27px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-product__title {
  margin: 0;
  margin-bottom: 5px;
}

.card-product__link-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.41;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.card-product__characteristics {
  font-size: 13px;
  line-height: 2.31;
  color: $color-grey-1;
  margin: 0;
  margin-bottom: 20px;
}

.card-product__buy-block-1 {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    margin-bottom: 20px;
  }
}

.card-product__buy-block-2 {
  display: flex;
  justify-content: space-between;
}

.card-product__prcie {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
}

.card-product__add-to-cart {
  color: $base-color;
  text-decoration: none;

  &:hover svg,
  &:focus svg {
    fill: #63d1bb;
  }

  &:active svg {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.card-product__add-to-cart svg {
  width: 20px;
  height: 19px;
  fill: #ececec;
}

@media (min-width: $tablet-width) {
  .card-product {
    &:nth-child(3) .card-product__title {
      max-width: 240px;
    }
  }

  .card-product__wrapper {
    display: flex;
  }

  .card-product__picture {
    width: 334px;
    height: 334px;
  }

  .card-product__description {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;
  }

  .card-product__link-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .card-product__characteristics {
    font-size: 15px;
    line-height: 2;
  }

  .card-product__buy-block-1 {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .card-product__buy-block-2 {
    margin-top: auto;
  }

  .card-product__prcie {
    font-size: 17px;
    line-height: 1.41;
  }

  .card-product__add-to-cart {
    margin-left: auto;
  }

  .card-product__add-to-cart svg {
    width: 21px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .card-product {
    display: flex;
    flex-direction: column;
  }

  .card-product__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 316px;
    height: 100%;
  }

  .card-product__picture {
    width: 316px;
    height: 462px;
  }

  .card-product__description {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-product__characteristics {
    margin-bottom: 14px;
  }
}
