.contacts__wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  margin: 0;
}

.contacts__block {
  font-size: 15px;
  line-height: 2;
  color: $color-grey-1;
  border-collapse: collapse;
}

.contacts__value,
.contacts__field {
  padding: 0;
}

.contacts__box-map {
  width: auto;
  height: 457px;
  background-color: #f4ead8;
}

.contacts__box-map--center {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 1.16;

    &::after {
      content: "";
      position: absolute;
      top: -50%;
      right: 0;
      transform: translateY(25%);
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .contacts__block {
    font-size: 17px;
    line-height: 1.76;
  }
}
