.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  margin-bottom: 7px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__block {
  font-size: 15px;
  line-height: 2;
  color: $color-grey-1;
  border-collapse: collapse;
}

.contacts__row {
  margin-bottom: 30px;
}

.contacts__value,
.contacts__field {
  border: none;
  padding: 0;
  padding-bottom: 30px;
}

.contacts__row:nth-child(2) .contacts__field {
  padding-right: 24px;
}

.contacts__value {
  width: 80px;
  vertical-align: top;
  padding-right: 25px;
}

.contacts__email {
  text-decoration: none;
  color: $color-grey-1;

  &::after {
    content: "";
    display: block;
    width: auto;
    height: 1px;
    background-color: #71d6c1;
  }

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__box-map {
  width: auto;
  height: 457px;
  background-color: #f4ead8;
  margin-bottom: 39px;
}

.contacts__box-map--center {
  text-align: center;
}

.contacts__write-to-us {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 55px;
  }

  .contacts__title {
    display: flex;
    justify-content: space-between;
    font-size: 43px;
    line-height: 1.16;

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .contacts__block {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 50px;
  }

  .contacts__block tbody {
    display: flex;
  }

  .contacts__row {
    width: 280px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 50px;
    }
  }

  .contacts__box-map {
    margin-bottom: 55px;
  }

  .contacts__write-to-us {
    max-width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    position: relative;
  }

  .contacts__wrapper {
    margin-top: 80px;
    margin-left: 100px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 1.08;

    &::after {
      order: -1;
      transform: translateX(-50px);
    }
  }

  .contacts__block tbody {
    display: block;
  }

  .contacts__box-map {
    margin-bottom: 0;
    width: 525px;
  }

  .contacts__write-to-us {
    position: absolute;
    left: 150px;
    bottom: 0;
  }
}
