.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 0.95;
  margin: 0;
  margin-right: 30px;
}

.copyright__link {
  display: flex;
  align-items: center;
  color: $base-color;
  text-decoration: none;

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: rgba(70, 193, 174, 0.3);
  }

  &:active .copyright__text {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__link svg {
  width: 27px;
  height: 34px;
  fill: #63d1bb;
}
