.custom-knitting__description {
  font-size: 13px;
  line-height: 1.85;
  color: $color-grey-1;
  margin: 0;
}

.custom-knitting__required-fields {
  font-size: 14px;
  line-height: 1.14;
  color: $color-grey-1;
}

.custom-knitting__send-order {
  line-height: 0.94;
  padding: 0;
  border: none;
  background-color: transparent;
}
