.custom-knitting__wrapper {
  padding-top: 23px;
}

.custom-knitting__description {
  font-size: 13px;
  line-height: 1.85;
  color: $color-grey-1;
  margin-top: 0;
  margin-bottom: 24px;
}

.custom-knitting__inner {
  margin-bottom: 55px;
}

.custom-knitting__required-fields {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  color: $color-grey-1;
}

.custom-knitting__send-order {
  line-height: 0.94;
  background-color: transparent;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .custom-knitting__wrapper {
    padding-top: 24px;
  }

  .custom-knitting__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 72px;
  }

  .custom-knitting__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
  }

  .custom-knitting__required-fields {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.76;
    text-align: right;
  }

  .custom-knitting__send-order {
    order: -1;
    margin: 0;
    max-width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .custom-knitting__wrapper {
    // padding-top: 60px;
  }

  .custom-knitting__description {
    max-width: 750px;
    padding: 0;
    padding-right: 50px;
    // font-size: 17px;
    // line-height: 1.76;
    // margin-bottom: 50px;
  }

  .custom-knitting__inner {
    max-width: 750px;
    padding-left: 0;
    padding-right: 50px;
    // display: flex;
    // justify-content: space-between;
  }

  .custom-knitting__required-fields {
    // margin-bottom: 0;
    // font-size: 17px;
    // line-height: 1.76;
    // text-align: right;
  }

  .custom-knitting__send-order {
    // order: -1;
    // margin: 0;
  }
}
