.field-checkbox {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.06;
}

.field-checkbox--popus {
  font-weight: bold;
  font-size: 17px;
  line-height: 0.94;
  color: $color-grey-1;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .field-checkbox {
    font-size: 19px;
    line-height: 0.95;
  }
}
