// checkbox
.field-checkbox {
  display: flex;
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  margin-bottom: 43px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.06;
}

.field-checkbox__input + .field-checkbox__indicator {
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}

// checked
.field-checkbox__input:checked + .field-checkbox__indicator--order::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// disabled
.field-checkbox__input:disabled + .field-checkbox__indicator {
  opacity: 0.5;
}

// checked + disabled
.field-checkbox__input:checked:disabled + .field-checkbox__indicator {
  opacity: 0.5;
}

// hover
.field-checkbox__input:hover + .field-checkbox__indicator {
  border-color: #62d1ba;
}

//  active
.field-checkbox__input:active + .field-checkbox__indicator {
  border-color: rgba(68, 68, 68, 0.3);
}

// outline focus
.field-checkbox__input:focus + .field-checkbox__indicator {
  box-shadow: 0 0 0 4px #42a5f5;
}

.field-checkbox__input:focus + .field-checkbox__indicator::before {
  background-image: none;
}

// outline checked + focus
.field-checkbox__input:checked:focus + .field-checkbox__indicator {
  box-shadow: 0 0 0 4px #42a5f5;
}

.field-checkbox__input:checked:focus + .field-checkbox__indicator--order::before {
  background-image: url("../img/icon-tick.svg");
}

// checkbox popup
.field-checkbox--popup {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 0.94;
  color: $color-grey-1;
  text-transform: uppercase;
  position: relative;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.field-checkbox--popup .field-checkbox__input + .field-checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  border: 2px solid #ececec;
}

// checked
.field-checkbox--popup .field-checkbox__input:checked + .field-checkbox__indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82px;
  height: 52px;
  border: 2px solid $color-green-1;
}

// disabled
.field-checkbox--popup .field-checkbox__input:disabled + .field-checkbox__indicator {
  opacity: 0.5;
}

// checked + disabled
.field-checkbox--popup .field-checkbox__input:checked:disabled + .field-checkbox__indicator {
  opacity: 0.5;
}

// hover
.field-checkbox--popup .field-checkbox__input:hover + .field-checkbox__indicator {
  border-color: #bababa;
}

//  active
.field-checkbox--popup .field-checkbox__input:active + .field-checkbox__indicator {
  opacity: 0.3;
}

// outline focus
.field-checkbox--popup .field-checkbox__input:focus + .field-checkbox__indicator {
  box-shadow: 0 0 0 2px #42a5f5;
}

@media (min-width: $tablet-width) {
  // checkbox
  .field-checkbox {
    font-size: 19px;
    line-height: 0.95;
    margin-bottom: 58px;
    padding-left: 80px;
  }

  .field-checkbox__input + .field-checkbox__indicator {
    width: 54px;
    height: 52px;
    top: -15px;
  }

  .field-checkbox__input:checked + .field-checkbox__indicator::before {
    width: 33px;
    height: 23px;
  }

  // checkbox popup
  .field-checkbox--popup {
    padding-left: 10px;
  }
}
