.form-order__fieldset {
  margin-bottom: 48px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.form-order__fieldset--checkbox {
  margin-bottom: 43px;
}

.form-order__fieldset--full-name {
  margin-bottom: 31px;
}

.form-order__fieldset--phone {
  margin-bottom: 32px;
}

.form-order__fieldset--email {
  margin-bottom: 31px;
}

.form-order__fieldset--additionally {
  margin-bottom: 15px;
}

.form-order__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 0.94;
  color: $color-green-1;
  text-transform: uppercase;
  margin-bottom: 33px;

  &::after {
    content: "";
    width: 77%;
    height: 1px;
    background-color: $color-green-1;
  }
}

.form-order__legend--checkbox {
  margin-bottom: 35px;
}

.form-order__legend--full-name {
  margin-bottom: 28px;
}

.form-order__legend--phone {
  margin-bottom: 18px;
}

.form-order__legend--email {
  margin-bottom: 17px;

  &::after {
    width: 70%;
  }
}

.form-order__legend--additionally {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .form-order__bg {
    background-color: #f1f1f1;
    padding-top: 65px;
    padding-bottom: 11px;
  }

  .form-order__bg--contacts {
    padding-top: 60px;
    padding-bottom: 18px;
  }

  .form-order__fieldset {
    display: flex;
  }

  .form-order__fieldset--checkbox {
    margin-bottom: 0;
  }

  .form-order__fieldset--radio {
    margin-bottom: 13px;
  }

  .form-order__fieldset--full-name {
    margin-top: 55px;
    margin-bottom: 18px;
  }

  .form-order__fieldset--phone {
    margin-bottom: 0;
  }

  .form-order__fieldset--email {
    margin-bottom: 0;
  }

  .form-order__fieldset--additionally {
    margin-top: 50px;
    margin-bottom: 22px;
  }

  .form-order__legend {
    max-width: 167px;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 7px;

    &::after {
      content: none;
    }
  }

  .form-order__legend--full-name {
    margin-top: 13px;
  }

  .form-order__legend--checkbox,
  .form-order__legend--radio {
    margin-top: 3px;
  }

  .form-order__legend--phone,
  .form-order__legend--email {
    margin-top: 8px;
  }

  .form-order__legend--additionally {
    margin-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-order__bg--contacts {
    padding-top: 59px;
    padding-bottom: 21px;
  }

  .form-order__fieldset--full-name {
    margin-top: 56px;
    margin-bottom: 20px;
  }

  .form-order__fieldset--additionally {
    margin-top: 50px;
    margin-bottom: 19px;
  }

  .form-order__legend {
    justify-content: center;
    max-width: 165px;
  }

  .form-order__fieldset--radio {
    margin-bottom: 10px;
  }

  .form-order__legend--full-name {
    margin-top: 12px;
    margin-bottom: 27px;
  }

  .form-order__legend--phone {
    transform: translateX(-4px);
  }

  .form-order__legend--email {
    margin-top: 14px;
    transform: translateX(7px);
  }

  .form-order__legend--additionally {
    margin-top: 17px;
  }
}
