.form-order__fieldset {
  margin-bottom: 45px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.form-order__fieldset--full-name {
  margin-bottom: 32px;
}

.form-order__fieldset--phone {
  margin-bottom: 32px;
}

.form-order__fieldset--email {
  margin-bottom: 32px;
}

.form-order__fieldset--additionally {
  margin-bottom: 15px;
}

.form-order__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 0.94;
  color: $color-green-1;
  text-transform: uppercase;
  margin-bottom: 33px;

  &::after {
    content: "";
    width: 70%;
    height: 1px;
    background-color: $color-green-1;
  }
}

.form-order__legend--checkbox {
  margin-bottom: 35px;
}

.form-order__legend--full-name {
  margin-bottom: 27px;
}

.form-order__legend--phone {
  margin-bottom: 18px;
}

.form-order__legend--email {
  margin-bottom: 18px;
}

.form-order__legend--additionally {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .form-order__bg {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .form-order__fieldset {
    display: flex;
  }

  .form-order__fieldset--radio {
    margin-bottom: 30px;
  }

  .form-order__fieldset--full-name {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .form-order__fieldset--additionally {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .form-order__legend {
    max-width: 150px;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;

    &::after {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-order__legend {
    text-align: center;
  }
}
