.interior-items {
  margin-top: -91px;
}

.interior-items__link {
  display: block;
  width: auto;
  position: relative;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  color: $color-white-1;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 28px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.interior-items__link--interior {
  background-color: $color-green-1;
  padding-right: 90px;
  position: relative;

  &::after {
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;
    background-image: url("../img/icon-interior.svg");
  }

  &:hover,
  &:focus {
    box-shadow: 0 5px 0 #59d5bc;
    background-color: #59d5bc;
    top: -5px;
  }

  &:active {
    background-color: #59d5bc;
    color: rgba(255, 255, 255, 0.3);
  }
}

.interior-items__link--toy {
  background-color: $color-green-2;
  padding-right: 100px;

  &::after {
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;
    background-image: url("../img/icon-toy.svg");
  }

  &:hover,
  &:focus {
    box-shadow: 0 5px 0 #46c1ae;
    background-color: #46c1ae;
    top: -5px;
  }

  &:active {
    background-color: #46c1ae;
    color: rgba(255, 255, 255, 0.3);
  }
}

.interior-items__link-span {
  display: block;
}

@media (min-width: $tablet-width) {
  .interior-items {
    display: flex;
    margin-top: -179px;
  }

  .interior-items__link-block {
    flex-grow: 1;
  }

  .interior-items__link {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: 36px;

    &::after {
      top: 30px;
      right: 35px;
    }
  }

  .interior-items__link--interior {
    padding-right: 80px;
  }

  .interior-items__link--toy {
    padding-right: 100px;
  }
}
