.interior-items__link {
  display: block;
  width: 320px;
  height: 103px;
  background-color: $color-green-1;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  color: $color-white-1;
  text-decoration: none;
}
