.list-colors {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .list-colors {
    display: flex;
    flex-wrap: wrap;
  }

  .list-colors__item {
    max-width: 230px;
    width: 100%;
    margin-right: 32px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
