.list-full-name {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .list-full-name {
    max-width: 710px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .list-full-name {
    padding-left: 10px;
  }
}
