.main-nav__logo-block {
  width: 86px;
  height: 35px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.main-nav__logo-link {
  display: block;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__item {
    display: block;
  }

  .main-nav--closed .main-menu-toggle {
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--opened .main-menu-toggle {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav--nojs .main-menu-toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav {
    position: relative;
  }

  .main-nav__logo-block {
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__item {
    border-top: 1px solid #ececec;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo-block {
    width: 112px;
    height: 46px;
    align-self: flex-start;
    order: -2;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-block {
    width: 149px;
    height: 72px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}
