.page-main__block {
  display: flex;
  min-height: 175px;
  background-color: $color-grey-2;
}

.page-main__title {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .page-main__block {
    position: relative;
    flex-direction: column;
    margin-bottom: 37px;
    min-height: 177px;

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      width: 100%;
      bottom: 0;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .page-main__title {
    margin-top: 26px;
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__block {
    margin-bottom: 104px;
    min-height: 213px;

    &::after {
      height: 34px;
    }
  }

  .page-main__title {
    padding-bottom: 60px;
  }
}
