.page-footer {
  background-color: $color-grey-2;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo-image {
  display: block;
  width: 102px;
  height: 34px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

@media (max-width: $mobile-width-only) {
  .page-footer__logo-link {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
