.page-footer {
  background-color: $color-grey-2;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo-link {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}
