.page-header__wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 88px, #e1e1e1 88px, #e1e1e1 89px, #f1f1f1 89px);
  }

  .page-header__wrapper {
    max-width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: none;
  }

  .page-header--index {
    background-image: linear-gradient(to bottom, #ffffff 88px, #e9e9e9 88px, #e9e9e9 89px, #f9f9f9 89px);
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    max-width: $desktop-width;
  }
}
