.page-main__block {
  display: flex;
  min-height: 175px;
  background-color: $color-grey-2;
}

.page-main__title {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .page-main__block {
    flex-direction: column;
    min-height: 177px;
    margin-bottom: 37px;

    &::after {
      content: "";
      display: block;
      height: 24px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .page-main__title {
    margin-top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__block {
    &::after {
      height: 34px;
    }
  }
}
