.popus__tite {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.popus__label {
  font-size: 15px;
  line-height: 2;
  color: $color-grey-1;
  margin: 0;
}

.popus__submit-size {
  font-size: 17px;
  line-height: 0.94;
  color: $color-white-1;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: $color-green-1;
  cursor: pointer;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .popus__tite {
    font-size: 30px;
    line-height: 1.9;
  }

  .popus__label {
    font-size: 17px;
    line-height: 1.76;
  }
}
