.production__wrapper {
  border: 1px solid #ececec;
  margin-bottom: 55px;
}

.production__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 25px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 50px;
  }
}

.production__picture {
  position: relative;
  width: 260px;
  height: 150px;
  background-color: #dfdfe1;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__inner {
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 35px;
  margin-right: 30px;
}

.production__description {
  font-size: 13px;
  line-height: 1.85;
  color: $color-grey-1;
  margin: 0;
  margin-bottom: 30px;
}

.production__make-order {
  display: block;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__title {
    order: 2;
    justify-content: flex-start;
  }

  .production__picture {
    width: 668px;
    height: 455px;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__inner {
    order: 3;
  }

  .production__description {
    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .production__title {
    display: block;
    max-width: 150px;
    align-self: flex-start;
    margin-left: 80px;

    &::before {
      margin-bottom: 30px;
    }
  }

  .production__picture {
    width: 682px;
  }

  .production__image {
    width: 682px;
  }

  .production__inner {
    order: 3;
    margin-left: auto;
    margin-top: -260px;
  }

  .production__description {
    width: 250px;
    margin-left: auto;
  }

  .production__make-order {
    align-self: flex-start;
    width: 200px;
  }
}
