.production__title {
  margin: 0;
}

.production__picture {
  display: block;
  background-color: #dfdfe1;
  width: 260px;
  height: 150px;
}

.production__description {
  font-size: 13px;
  line-height: 1.85;
  color: $color-grey-1;
  margin: 0;
}
