.production__wrapper {
  border: 1px solid #ececec;
  margin-bottom: 58px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 33px;
  margin-right: 25px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 55px;
  }
}

.production__picture {
  position: relative;
  width: 260px;
  height: 150px;
  background-color: #dfdfe1;
}

.production__play-button {
  display: block;
  position: absolute;
  top: 37px;
  left: 80px;
  z-index: 10;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active,
  &:focus {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.production__picture:hover .production__picture::after {
  height: 180px;
}

.production__inner {
  margin-top: 27px;
  margin-bottom: 32px;
  margin-left: 33px;
  margin-right: 33px;
}

.production__description {
  font-size: 13px;
  line-height: 1.85;
  color: $color-grey-1;
  margin: 0;
  margin-bottom: 25px;
  max-width: 185px;
}

.production__make-order {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }

  .production__title {
    order: 2;
    justify-content: flex-start;
    margin-top: 36px;
    margin-bottom: 5px;
    margin-left: 40px;

    &::before {
      padding-right: 66px;
    }
  }

  .production__picture {
    width: 668px;
    height: 455px;
  }

  .production__play-button {
    top: 188px;
    left: 283px;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__inner {
    order: 3;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  .production__description {
    font-size: 15px;
    line-height: 2;
    max-width: 100%;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 103px;
  }

  .production__title {
    display: block;
    max-width: 150px;
    align-self: flex-start;
    margin-top: 46px;
    margin-left: 80px;
    padding-bottom: 280px;

    &::before {
      margin-bottom: 27px;
    }
  }

  .production__picture {
    width: 682px;
  }

  .production__image {
    width: 682px;
  }

  .production__inner {
    order: 3;
    margin-left: auto;
    margin-top: -279px;
  }

  .production__description {
    width: 250px;
    margin-left: auto;
    margin-bottom: 46px;
  }

  .production__make-order {
    align-self: flex-start;
    max-width: 230px;
    margin-left: 3px;
  }
}
