.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.41;
  color: $base-color;
  text-decoration: none;
}

.site-list__item {
  margin-left: 76px;
  padding-top: 20px;
  padding-bottom: 20px;
}
