.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  color: $base-color;
  text-decoration: none;
}

.social__link--instagram svg {
  width: 22px;
  height: 21px;
}

.social__link--facebook svg {
  width: 15px;
  height: 28px;
}

.social__link--twitter svg {
  width: 23px;
  height: 20px;
}
