// base font styles
$base-font-family: "opensans", "Arial", sans-serif;
$alternative-font-family: "Arial", sans-serif;
$base-color: #000000;

// colors
$color-black-1: #010000;
$color-white-1: #ffffff;
$color-green-1: #63d1bb;
$color-green-2: #56c3b2;
$color-grey-1: #444444;
$color-grey-2: #f1f1f1;

// breakpoint
$mobile-widh: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
